.latest-work {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.latest-work-title {
  color: #fff;
  text-align: center;
  letter-spacing: -0.3rem;
  text-shadow: 0 9px 20px #ffffff1f;
  font-family: Larsseit, sans-serif;
  font-size: 6rem;
  font-weight: 800;
  position: sticky;
  top: 3.8rem;
}

@media (max-width: 1016px) {
  .latest-work-title {
    font-size: 5.5rem;
  }
}

@media (max-width: 940px) {
  .latest-work-title {
    font-size: 5rem;
  }
}

/* Responsive Styles */
@media (max-width: 868px) {
  .latest-work-title {
    font-size: 4.5rem;
  }
}

/* Responsive Styles */
@media (max-width: 796px) {
  .latest-work-title {
    font-size: 4rem;
  }
}

/* Responsive Styles */
@media (max-width: 576px) {
  .latest-work-title {
    font-size: 3.5rem;
  }
}

/* Responsive Styles */
@media (max-width: 446px) {
  .latest-work-title {
    font-size: 3rem;
  }
}

/* Responsive Styles */
@media (max-width: 338px) {
  .latest-work-title {
    font-size: 2rem;
  }
}
