.tech-stack-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #2a2c2c91;
  border-radius: 1rem;
  gap: 1.25rem;
  padding: 1.5rem;
  width: 100%;
}

.tech-stack-title {
  color: #fff;
  letter-spacing: -0.1rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 0;
  flex: 1.25;
}

.skillset-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-content: center;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
  flex: 2;
}

.skillset-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  color: #8e8b8b;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.skillset-content:hover .skillset-name {
  color: #ffdab9;
}

.skillset-content:hover .skillset {
  filter: invert(77%) sepia(43%) saturate(223%) hue-rotate(339deg)
    brightness(105%) contrast(102%);

  transform: scale(1.1);
}

/* Hover styles reset for touch devices */
@media (hover: none) {
  .skillset-content:hover .skillset-name,
  .skillset-content:hover .skillset {
    color: #8e8b8b;
    filter: brightness(0) saturate(100%) invert(65%) sepia(7%) saturate(88%)
      hue-rotate(314deg) brightness(85%) contrast(83%);
    transform: initial;
  }

  .skillset-content:active .skillset-name,
  .skillset-content:focus .skillset-name {
    color: #ffdab9;
  }

  .skillset-content:active .skillset,
  .skillset-content:focus .skillset {
    filter: invert(77%) sepia(43%) saturate(223%) hue-rotate(339deg)
      brightness(105%) contrast(102%);

    transform: scale(1.1);
  }
}

.skillset {
  filter: brightness(0) saturate(100%) invert(65%) sepia(7%) saturate(88%)
    hue-rotate(314deg) brightness(85%) contrast(83%);
  height: 3rem;
  width: 3rem;
}

/* Media Queries */
@media (max-width: 991.98px) {
  .tech-stack-wrapper {
    flex-direction: column;
  }

  .tech-stack-title {
    text-align: center;
    margin-bottom: 1rem;
  }

  .tech-stack-title {
    display: flex;
    width: 100%;
    align-items: flex-start;
  }
}

@media (max-width: 575.98px) {
  .tech-stack-title {
    display: flex;
    width: 100%;
    align-items: flex-start;
    font-size: 2.5rem;
  }

  .skillset-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 1.5rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .tech-stack-title {
    font-size: 3rem;
  }

  .skillset-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .tech-stack-title {
    font-size: 3.5rem;
  }

  .skillset-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 2.5rem;
  }
}
